{% from "common/json.njk" import json %}

{% extends "layout/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% set isTestData = not (parentTransaction and parentTransaction.live) %}

{% block main %}
  <h1 class="govuk-heading-m">Refund</h1>

  <div class="govuk-body govuk-!-margin-bottom-4">
    <a href="/transactions/{{ transaction.transaction_id }}" class="govuk-back-link">Refunds
      payment {{ transaction.transaction_id }}</a>
  </div>

  <div class="status-inline-spacer">
    <span class="govuk-body-l status-amount">{{ (transaction.total_amount or transaction.amount) | currency }}</span>
  </div>

  <div class="govuk-grid-row status-spacer payment-detail-row">
    <div class="govuk-grid-column-one-quarter">
      <span class="govuk-caption-m">Date</span>
      <span class="govuk-body">{{ transaction.created_date | formatDate }}</span>
    </div>
  </div>

  <h1 class="govuk-heading-m">Correct asynchronously failed Stripe refund</h1>

  <p class="govuk-body">
    This will:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      make a new transfer in Stripe to move the refunded amount from the GOV.UK Pay account back to the service’s account
    </li>
    <li>
      insert a new payment representing the transfer in ledger
    </li>
    <li>
      update the refund status to error in Pay
    </li>
  </ul>

  <p class="govuk-body">
    This will not:
  </p>

   <ul class="govuk-list govuk-list--bullet">
    <li>
      change the refund availability of the original payment (because it many cases failed refunds cannot be retried)
    </li>
  </ul>

  <p class="govuk-body">
    This can also be used to fix a cancelled Stripe refund but you will need to then update the refund availability of the original payment.
  </p>

  <form method="post" action="/confirm-fix-async-failed-stripe-refund/{{ transaction.transaction_id }}">

    {{ govukInput({
      label: { text: "Zendesk ticket number" },
      id: "zendeskTicketNumber",
      name: "zendeskTicketNumber",
      autocomplete: "off"
    }) }}

  <p class="govuk-body">
    Make sure the refund has been expunged from connector before pressing the button.
  </p>

    <input type="hidden" name="_csrf" value="{{ csrf }}">
    {{ govukButton({
      text: "Correct asynchronously failed Stripe refund"
    }) }}

  </form>
{% endblock %}

